ZANOZA_PANEL_PORT=8443
ZANOZA_PANEL_ADDR=0.0.0.0
ZANOZA_PANEL_PATH=/admin
ZANOZA_NAME=Zanoza Panel
# Place certs into zanoza-config/ to enable HTTPS.
ZANOZA_TLS_CERT=/etc/zanoza-panel/tls.crt
ZANOZA_TLS_KEY=/etc/zanoza-panel/tls.key
